$main-section-padding: 15px;

#main-section {
  max-width: 720px;
  margin: auto;
  margin-top: 20px;
  padding: $main-section-padding;
  position: relative;
}

mat-form-field {
  display: block;
  margin-bottom: 10px;
}

button[type=submit] {
  display: block;
  position: absolute;
  right: $main-section-padding;
}
